@model IEnumerable<BookingSystem.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.IDRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfReservation.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.IDRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfReservation.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDReservation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDReservation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDReservation })
        </td>
    </tr>
}

</table>
