@model BookingSystem.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfRoom.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfRoom.Information)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDRoom }) |
    @Html.ActionLink("Back to List", "Index")
</p>
